################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Release
/computer burner/x64/Release
/.vs/computer burner
